/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply m-0 p-0 relative box-border tracking-wider font-roboto text-secondary;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb {
  @apply bg-primary;
}
::-webkit-scrollbar {
  width: 5px;
}

/* section {
  @apply w-full min-h-full lg:h-[100vh];
} */

/* Button Effect */
.btn {
  @apply p-2 rounded-md hover:bg-gray-500 hover:bg-opacity-30 hover:shadow-lg transition ease-in duration-300;
}

/* Transition Effect */
.effect_ease {
  @apply transition ease-in duration-300;
}

/* Header CSS */
.download_app {
  @apply flex flex-col space-y-4 shadow-md absolute w-[260px] top-[45px] right-0 bg-white px-8 py-5 before:content-[''] before:bg-white before:absolute before:-top-[6px] before:right-10 before:rotate-45 before:w-3 before:h-3;
}

.select_language {
  @apply absolute w-[200px] top-[42px] lg:top-[52px] -right-[60px] bg-white text-black text-xs border rounded-sm shadow-sm p-5 text-center before:content-[''] before:bg-white before:absolute before:-top-[8px] before:right-[80px] before:rotate-45 before:w-4 before:h-4;
}

.languageCheck {
  @apply text-red-500;
}
.languageCheck::before {
  @apply content-[''] w-3 h-3 rounded-full bg-red-500 ring-2 absolute top-[50%] -translate-y-[50%] left-0;
}

/* Main Menu CSS */

/* Nav CSS */
.main_menu {
  @apply relative w-[30vw] lg:w-[240px] h-[345px] bg-white py-3 drop-shadow-md rounded-lg z-50;
}

.menu_link {
  @apply relative w-full capitalize inline-block p-1 text-sm transition ease-in duration-300;
}

.menu_icon_angle {
  @apply absolute top-1/2 right-1 transform -translate-y-1/2 -translate-x-5 opacity-0 invisible transition ease-in duration-300;
}

.main_menu li:hover > .menu_link {
  @apply bg-gray-200 text-primary;
}

.menu_link:hover .menu_icon_angle,
.menu_link:active .menu_icon_angle {
  @apply opacity-100 visible translate-x-0;
}

/* Dropdown CSS */
.dropdown {
  @apply w-[20vw] lg:w-[240px] h-full  absolute top-0 right-0 -z-10 opacity-0 transform translate-x-0 invisible  transition ease-in duration-300;
}
.dropdown_menu {
  @apply relative w-full h-full -right-[97%] bg-white py-3 drop-shadow-md rounded-lg  z-40;
}

.main_menu li:hover .dropdown {
  @apply opacity-100 visible translate-x-5;
}
.dropdown:hover .dropdown_menu {
  @apply rounded-none rounded-l-lg;
}

/* Sub Dropdown Css */
.sub_dropdown {
  @apply w-[50vw] lg:w-[690px] h-full absolute top-0 right-0 -z-10 opacity-0 transform translate-x-0 invisible  transition ease-in duration-300;
}

.sub_dropdown_menu {
  @apply relative w-full h-full  -right-[97%] bg-white py-3 drop-shadow-md rounded-r-lg z-40;
}

.dropdown_menu li:hover .sub_dropdown {
  @apply opacity-100 visible translate-x-5;
}

/* Slider CSS */
.slider_area {
  width: calc(100% - 240px);
  height: 345px;
  margin-left: 13px;
}

.dot {
  @apply w-3 h-3 bg-gray-200 rounded-full cursor-pointer;
}

.dotActive {
  @apply bg-white ring;
}
